.header {
    margin-left: 20px;
    margin-top: 15px;
}
.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}
.listItem {
    text-decoration: none;
    margin-left: 20px;
    
}